circuit_breaker.JSON
[
    {
        "id": "6a18b14ac692588d",
        "type": "subflow",
        "name": "Subflow 10",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 460,
                "wires": [
                    {
                        "id": "0a43a581d998a447"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 840,
                "y": 80,
                "wires": [
                    {
                        "id": "8ca815e0b0c4fa49",
                        "port": 0
                    }
                ]
            },
            {
                "x": 720,
                "y": 180,
                "wires": [
                    {
                        "id": "017813ac4a6da350",
                        "port": 0
                    }
                ]
            },
            {
                "x": 680,
                "y": 320,
                "wires": [
                    {
                        "id": "017813ac4a6da350",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "cooldownTime",
                "type": "env",
                "value": "30"
            },
            {
                "name": "failThreshold",
                "type": "env",
                "value": "15"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "017813ac4a6da350",
        "type": "function",
        "z": "6a18b14ac692588d",
        "name": "calculate stats through flow variables",
        "func": "\nmsg.failPercentage = msg.failCounter * 100 / (msg.failCounter + msg.successCounter);\n\nlet msg1;\nlet msg2;\n\nif(flow.get(\"failThreshold\") <= msg.failPercentage){\n    msg.topic = \"control\";\n    msg.payload = \"close\";\n    msg[\"timeout\"] = flow.get(\"cooldownTime\");\n    msg1 = msg;\n} else {\n    msg.topic = \"control\";\n    msg.payload = \"open\";\n    msg2 = msg;\n}\n\n\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "ee4ef5792d719215"
            ],
            []
        ]
    },
    {
        "id": "8ca815e0b0c4fa49",
        "type": "function",
        "z": "6a18b14ac692588d",
        "name": "control gate",
        "func": "\n\n//if threshold is reached and timer is not set, close gate\n\n\n//if timer >limit open gate\n\nif(msg.payload === 1){\n    msg.payload = \"open\";\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ee4ef5792d719215",
        "type": "mytimeout",
        "z": "6a18b14ac692588d",
        "name": "",
        "outtopic": "",
        "outsafe": "",
        "outwarning": "Warning",
        "outunsafe": "off",
        "warning": "5",
        "timer": "30",
        "debug": false,
        "ndebug": false,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "8ca815e0b0c4fa49"
            ],
            [
                "8ca815e0b0c4fa49"
            ]
        ]
    },
    {
        "id": "0a43a581d998a447",
        "type": "change",
        "z": "6a18b14ac692588d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cooldownTime",
                "pt": "flow",
                "to": "cooldownTime",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "failThreshold",
                "pt": "flow",
                "to": "failThreshold",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 460,
        "wires": [
            [
                "017813ac4a6da350"
            ]
        ]
    }
]
